@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  border-radius: 50%;
  border: 1px solid #454141;
  border-top: 1px solid white;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  /* background: #eee; */
}
